<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./assets/styles.css" type="text/css" />
    <title>Todo app</title>
  </head>
  <body>
    <h1>Hy</h1>
    <div id="todo-table">
      <form action="">
        <input
          type="text"
          ,
          placeholder="Add new item"
          ,
          name="item"
          required
        />
        <button type="submit">Add item</button>
      </form>
      <ul>
        <li>Apple</li>
        <li>Mango</li>
        <li>Orange</li>
        <li>Banana</li>
      </ul>
    </div>
  </body>
</html>
